BOT_TOKEN = ""
GDRIVE_FOLDER_ID = ""
OWNER_ID = 
DOWNLOAD_DIR = "/usr/src/app/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = -1
AUTO_DELETE_UPLOAD_MESSAGE_DURATION = 1200
IS_TEAM_DRIVE = "True"
TELEGRAM_API = 
TELEGRAM_HASH = ""

# OPTIONAL CONFIG
DATABASE_URL = ""
AUTHORIZED_CHATS = "-100"
SUDO_USERS = ""
MOD_USERS = ""
IGNORE_PENDING_REQUESTS = ""
USE_SERVICE_ACCOUNTS = "True"
INDEX_URL = ""
STATUS_LIMIT = ""
STOP_DUPLICATE = "True"
CMD_INDEX = ""
UPTOBOX_TOKEN = ""

# Update
UPSTREAM_REPO = ""
UPSTREAM_BRANCH = ""

# Leech
LEECH_LOG = "-100"
LEECH_LOG_ALT = "-100"
MIRROR_LOGS = "-100"
LINK_LOGS = "-100"
BOT_PM = "True"
LEECH_ENABLED = "True"
IMAGE_LEECH = "True"
TG_SPLIT_SIZE = ""
AS_DOCUMENT = ""
EQUAL_SPLITS = ""
CUSTOM_FILENAME = ""

AUTO_TG_DOWN = "False"

#FSUB
FSUB = "True"
#FSUB_CHANNEL_ID = "-100" # Don't leave this empty or Remove it from your configs if you dont wanna use FSUB
CHANNEL_USERNAME = "@username"

#Telegraph ui
TITLE_NAME = "Mirror Hunter" #
AUTHOR_NAME = "Mirror Hunter"
AUTHOR_URL = "https://t.me/"

# qBittorrent
BASE_URL_OF_BOT = ""
SERVER_PORT = ""
WEB_PINCODE = ""
QB_SEED = ""
QB_TIMEOUT = ""
# Rss
RSS_DELAY = ""
RSS_COMMAND = ""
RSS_CHAT_ID = ""
USER_STRING_SESSION = ""
# Pivate Files
ACCOUNTS_ZIP_URL = ""
TOKEN_PICKLE_URL = ""
MULTI_SEARCH_URL = ""
YT_COOKIES_URL = ""
NETRC_URL = ""
# Mega
MEGA_API_KEY = ""
MEGA_EMAIL_ID = ""
MEGA_PASSWORD = ""
BLOCK_MEGA_FOLDER = ""
BLOCK_MEGA_LINKS = ""
MEGAREST = ""
# Shortener
SHORTENER = ""
SHORTENER_API = ""
# GDTOT COOKIE
CRYPT = ""
# APPDRIVE LOGIN
APPDRIVE_EMAIL = ""
APPDRIVE_PASS = ""
# Size Limits
TORRENT_DIRECT_LIMIT = ""
ZIP_UNZIP_LIMIT = ""
CLONE_LIMIT = ""
MEGA_LIMIT = ""
STORAGE_THRESHOLD = ""
# Buttons
VIEW_LINK = "True"
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""
# Torrent Search
SEARCH_API_LINK = ""
SEARCH_LIMIT = ""
SEARCH_PLUGINS = '["https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/rarbg.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/piratebay.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/legittorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/limetorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/torrentscsv.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/zooqle.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/eztv.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/kickass_torrent.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/yts_am.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/linuxtracker.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/nyaasi.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/ettv.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/glotorrents.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/thepiratebay.py",
                   "https://raw.githubusercontent.com/nindogo/qbtSearchScripts/master/magnetdl.py",
                   "https://raw.githubusercontent.com/khensolomon/leyts/master/yts.py"]'
